*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background:rgb(248, 244, 244);
    overflow-x: hidden;
    padding-left: 18rem;
}
section{
    min-height: 100vh;
    padding:1rem;
}
.Usuário{
    padding: 9rem 1rem;
    border-radius: 50rem;
}
header{
    position: fixed;
    top:0; left:0;
    height:100%;
    width:27rem;
    background:rgb(255, 144, 93);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .Usuário img{
    height:20rem;
    width:20rem;
    border-radius: 50%;
    border: 5px solid rgb(134, 3, 3);
}
header .navegação{
    width:100%;
}
header .navegação ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navegação ul li a{
    margin: 0.90rem 0;
    color:#fff;
    font-size: 2rem;
}
header .informações{
    width: 100%;
}
header .informações ul{
    list-style: none;
    padding:1rem 3rem;
}
header .informações ul li a{
    display: block;
    margin: 0.90rem 0;
    color:rgba(255, 255, 255, 0.507);
    font-size: 2rem;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}
.home h1{
    font-size:8rem;
    color:rgb(8, 8, 8);
}
.home h1 span{
    font-size: 8rem;
    color:rgb(145, 9, 4);
}
.home h3{
    font-size: 2rem;
    color:black;
}
.home h3 span{
    font-size: 2rem;
    color:rgb(145, 9, 4);
}
.home p{
    font-size:1.99rem;
    color:rgba(12, 12, 12, 0.308);
    padding: 3rem 0;
}